{% extends 'base.html' %}
{% block head %}


{% endblock %}

{% block body %}
<section class='about-main'>
  <h3>What's This Site For?</h3>
  <p>Anybody can use it, but it's aimed specifically at people working from home on computers who want to bake bread as they work (you get to take brief breaks every half-hour or so).</p>

  <p>There are about a million bread recipes out there, so instead of adding a few more we start with some stalwarts, based on Tartine's sourdough, Ken Forkish's tk, and Samin Noserat's foccaccia, etc. Then, with a bit of trial and error, you can adjust them to your tastes and home kitchen.</p>

  <h3>What's the best way to use this site?</h3>
  <p>Create an account (this site is for education: we won't track you around the internet and sell your data). Try one of the recipes. Take notes in the baker's log. What went wrong? What worked well? Adjust and bake again. As you keep playing with the recipe, feel free to use the site's dough calculator (for tweaking hydration, etc). Keep iterating until you have a personal bread. Then start again with a different variation.</p>

</section>
{% body block %}
