body {
  font-family: Georgia serif!important;
  background-color: #FFF4DD!important;
}

header {
  min-height: 40em;
  background-image: url("bread-background.jpg");
  background-size: cover;
  position: relative;
}

nav {
  background-color: #DE6D52;
  padding: .5em 3em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: 'Familjen Grotesk', sans-serif!important;
  font-size: 8em!important;
  color: #DE6D52;
  width: 100%;
  font-weight:900!important;
}

h2 {
  padding: 0em 0em 1em 0em;
  font-family: 'Familjen Grotesk', sans-serif!important;
  color: #DE6D52;
  font-size: 3em!important;
  font-weight:900!important;
  position: absolute;
  bottom: 0;
}

h3 {
  font-weight: 900!important;
}

nav a {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  padding-left: .5em;
  padding-right: .5em;
}

article a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

form input {
  display: block;
  margin: .25em 0em;
}

form label {
  margin: .25em 0em;
}

form input:last-of-type {
  margin-bottom: 1em;
}

/* index pg body */

.recipe-img {
  width: 100%;
}

div article {
  margin: .5em;
}


.index-main {
  margin: 3.5em;
}

.dough-calculator {

}

.calc-button {
  width: 12em;
  height: 2em;
  background-color: #DE6D52;
  font-weight: bold;
  color: white;
  display: block;
  margin-bottom: .5em;
}
